.nav-bar {
    background-color: transparent;
    display: flex;
    padding: 1em;
    /* background: rgba(242, 168, 168, 0.56); */
    backdrop-filter: blur(3px);
  }

.name {
  font-family: 'Montserrat';
}

.nav-links{
  font-family: 'Montserrat';
}
